<h3>Doctor Info</h3>
<h5> Hospital - <%= @doctor.hospital.name %></h5>
<div id="doctor-info">
  <p>Name - <%= @doctor.name %></p>
  <p>Specialty- <%= @doctor.specialty %></p>
  <p>Education- <%= @doctor.university %></p>

</div>
